.objs*
/src/lib*
/src/devel*
/src/output*
debug
release
*.layout
*.depend
*.patch
autorevision.h
autorevision
cb_console_runner
cb_console_runner29
*.bmarks
Makefile.in
/build*
/configure
/aclocal.m4
/.last_revision
/autom4te.cache
/install-sh
/ltmain.sh
/missing
/revision.m4
/depcomp
*build_log.html
/src/include/config.h.in
*cscope_file_list
/config.guess
/config.sub
*.cbTemp
/src/plugins/contrib/SmartIndent/manifest.xml
*.o
*.Plo
/codeblocks.pc
/codeblocks.plist
/codeblocks.spec
/compile
/config.log
/config.status
/libtool
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
*.la
*.lo
.libs
.deps
.dirstamp
*.zip
/src/include/config.h
/src/include/stamp-h1
*.pc
